In [1]:
breakfast_list = ["eggs","ham","cheese"]

breakfast_list

['eggs', 'ham', 'cheese']

In [2]:
breakfast_list.remove("cheese")

In [3]:
breakfast_list

['eggs', 'ham']

In [21]:
breakfast_dict = {"eggs":100,"ham":200,"cheese":300}
breakfast_dict

{'eggs': 100, 'ham': 200, 'cheese': 300}

In [5]:
breakfast_dict["eggs"]=150
breakfast_dict

{'eggs': 150, 'ham': 200, 'cheese': 300}

In [18]:
"eggs" in breakfast_dict

True

In [24]:
del breakfast_dict["eggs"]

"eggs" in breakfast_dict

False

In [20]:
"eggs".upperCase()

AttributeError: 'str' object has no attribute 'upperCase'

In [8]:
for food,grams in breakfast_dict.items():
    print(food,grams)

eggs 150
ham 200
cheese 300

In [25]:
breakfast_dict.get("eggs",0)

0

In [41]:
#Best: if we want to test it, better we do "returns" instead of "prints"
def fizzBuzz(num):
    
    if num % 3 == 0 and num % 5 == 0:
        return "FizzBuzz"
    
    elif num % 3 == 0:
        return "Fizz"
        
    elif num % 5 == 0:
        return "Buzz"
    
    else:
        return str(num)

for i in range(1,51):
    
    print(fizzBuzz(i))

In [70]:
for i in range(1,51):
    
    print(fizzBuzz(i))

In [65]:
type(fizzBuzz(0))

str

In [69]:
def testFizzBuzz(num,expected):
    
    result = fizzBuzz(num)
    print(result)
    assert type(result) == str, " "
    assert result == expected
    

test_numbers = [0,1,2,3,5,15]
expectations = ['FizzBuzz','1','2','Fizz','Buzz','FizzBuzz']

for n,e in zip(test_numbers,expectations):
    testFizzBuzz(n,e)

FizzBuzz
1
2
Fizz
Buzz
FizzBuzz

In [1]:
def evenOdd(num):
    
    """
    Returns the string "even", "odd" or "UNKNOWN"
    
    Args:
        num (int) : the number to be tested
    
    Returns:
        str: "even" / "odd"
    
    Examples:
        evenOdd(12)
        evenOdd(15)
    
    """
    
    if num % 2 == 0:
        return 'even'
    elif num % 2 == 1:
        return 'odd'
    else:
        return "UNKNOWN"

In [2]:
help(evenOdd)

Help on function evenOdd in module __main__:

evenOdd(num)
    Returns the string "even", "odd" or "UNKNOWN"

    Args:
        num (int) : the number to be tested

    Returns:
        str: "even" / "odd"

    Examples:
        evenOdd(12)
        evenOdd(15)

In [6]:
evenOdd(0)

'even'

In [7]:
def sum(*args):
    
    sum_num = 0
    for a in args:
        sum_num += a
    
    return sum_num

In [9]:
sum(2,4,6,7)

19

In [ ]:
From colorama import init ascolorama_init
From colorama import Fore
From colorama import Style
colorama_init()

In [10]:
def my_func(**kwargs):
    print("Arguments received")
    
    for key in kwargs:
        
        value = kwargs[key]
        print(f"key: {key}, value: {value}")

my_func(drink='mate',time='08:00',device='PC')

Arguments received
key: drink, value: mate
key: time, value: 08:00
key: device, value: PC

In [14]:
np.random.random(size=(10,1))

array([[0.47224153],
       [0.50751094],
       [0.70058355],
       [0.08398087],
       [0.84630064],
       [0.5348431 ],
       [0.26067359],
       [0.84107896],
       [0.641591  ],
       [0.67029809]])

In [16]:
import numpy as np
import pandas as pd

my_df = pd.DataFrame(data = {"Class":[1,2,3,4,5]*2,"X":np.random.random(size=(10,))})
my_df.head()

   Class         X
0      1  0.855273
1      2  0.202978
2      3  0.561925
3      4  0.051798
4      5  0.464640

In [19]:
my_df["new_column"] = my_df["X"].apply(lambda x : x**2 if x<0.5 else x+1)
my_df["new_column_2"] = np.where(my_df["X"]<0.5,my_df["X"]**2,my_df["X"]+1)
my_df

   Class         X  new_column  new_column_2
0      1  0.855273    1.855273      1.855273
1      2  0.202978    0.041200      0.041200
2      3  0.561925    1.561925      1.561925
3      4  0.051798    0.002683      0.002683
4      5  0.464640    0.215891      0.215891
5      1  0.316411    0.100116      0.100116
6      2  0.263725    0.069551      0.069551
7      3  0.742722    1.742722      1.742722
8      4  0.226805    0.051440      0.051440
9      5  0.473424    0.224130      0.224130

In [18]:
my_df

   Class         X  new_column  new_column_2
0      1  0.855273    1.855273      1.855273
1      2  0.202978    0.041200      0.041200
2      3  0.561925    1.561925      1.561925
3      4  0.051798    0.002683      0.002683
4      5  0.464640    0.215891      0.215891
5      1  0.316411    0.100116      0.100116
6      2  0.263725    0.069551      0.069551
7      3  0.742722    1.742722      1.742722
8      4  0.226805    0.051440      0.051440
9      5  0.473424    0.224130      0.224130

In [20]:
import numpy as np
import pandas as pd

N=100
x1 = np.random.exponential(5,size=[N,1])
x2 = np.random.randint(6,size=[N,1])
df = pd.DataFrame(np.append(x1,x2,axis=1))
df.columns = ["X",'class']
df.head()

          X  class
0  7.049932    1.0
1  8.074264    2.0
2  3.586557    5.0
3  3.519787    5.0
4  1.503423    5.0

In [23]:
new_df = df[df["class"].isin([2,3])]
new_df.head()

           X  class
1   8.074264    2.0
6   2.785505    2.0
8   0.751868    3.0
17  0.932834    2.0
24  1.600685    3.0

In [25]:
my_df = pd.DataFrame([])

my_df["count"] = new_df.groupby("class")["X"].count()
my_df["mean"] = new_df.groupby("class")["X"].mean()
my_df["sum"] = new_df.groupby("class")["X"].sum()
my_df

       count      mean        sum
class
2.0       19  3.959833  75.236835
3.0        9  7.853602  70.682418

In [53]:
def get_primes(num):
    
    
    primes = []
    
    for i in range(1,num+1):
        
        divisors = []
        
        for d in range(1,i+1):
            
            # print(i,d,i%d)
            if i%d==0:
                divisors.append(d)
        
        if len(divisors)==2:
            
            primes.append(i)
    
    return primes

In [ ]:
def get_primes_below_n(n):
    primes = []
    for num in range(2, n):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

In [65]:
def opti_get_primes(num):
    
    primes = []
    
    for i in range(2,num):
        
        is_prime=True
        
        for d in range(2,int(i**0.5)+1):
            
            if i%d==0:
                is_prime=False
                break
            
        if is_prime:
                
            primes.append(i)
        
    return primes

opti_get_primes(10)

[2, 3, 5, 7]

In [58]:
get_primes(15)

[2, 3, 5, 7, 11, 13]

In [66]:
df = pd.DataFrame({'a': [1, 2, 3, 4,5,6,7,8,9],
                 'b': [True, False, True] * 3,
                'c': [1,1,1] * 3})

df

   a      b  c
0  1   True  1
1  2  False  1
2  3   True  1
3  4   True  1
4  5  False  1
5  6   True  1
6  7   True  1
7  8  False  1
8  9   True  1

In [67]:
list_cardinality = [(col,df[col].nunique()) for col in df.columns]
list_cardinality

[('a', 9), ('b', 2), ('c', 1)]

In [68]:
sorted(list_cardinality,key = lambda x : x[1],reverse=True)

[('a', 9), ('b', 2), ('c', 1)]

In [ ]:
def fizzbuzz(n):
    result = []
    for i in range(1, n+1):
        current = ""
        if i % 3 == 0:
            current += "Fizz"
        if i % 5 == 0:
            current += "Buzz"
        if not current:
            current = str(i)
        result.append(current)
    return result